<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>crow.asmaven.controller.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCompra</servlet-name>
        <servlet-class>crow.asmaven.controller.ServletCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPedir</servlet-name>
        <servlet-class>crow.asmaven.controller.ServletPedir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroUsuario</servlet-name>
        <servlet-class>crow.asmaven.controller.ServletRegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPanelUsuario</servlet-name>
        <servlet-class>crow.asmaven.controller.ServletPanelUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCargar</servlet-name>
        <servlet-class>crow.asmaven.controller.ServletCargar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUtilidad</servlet-name>
        <servlet-class>crow.asmaven.controller.ServletUtilidad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCompra</servlet-name>
        <url-pattern>/ServletCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPedir</servlet-name>
        <url-pattern>/ServletPedir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroUsuario</servlet-name>
        <url-pattern>/ServletRegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPanelUsuario</servlet-name>
        <url-pattern>/ServletPanelUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCargar</servlet-name>
        <url-pattern>/ServletCargar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUtilidad</servlet-name>
        <url-pattern>/ServletUtilidad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
